<!DOCTYPE html>
<html>

<head>
	<title>Avoid The Bin</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body>

	<div class="jumbotron text-center">
		<div class="col-sm-12 ">
<!--       <div class="row text-center caption">
-->        <h1>Avoid The Bin.</h1>
<!-- </div> -->
</div>
</div>

<section class="text-center" id="mission">
	<div class="container container-text bg-grey">
		<div class="row">
			<div class='col-sm-12'>
				<h2>We are on a mission to reduce the amount of waste that ends up in the bin.</h2>
				<h2>So why not get involved now!</h2>
				<img class="img-responsive" src='images/nobin.png'>
			</div>
		</div>
	</div>
</section>

<section class="text-center" id="nearby">
	<div class="container container-text bg-green">
		<div class="row">
			<div class='col-sm-12'>
				<h2>See what's available near you. </h2>
				<a href="/listed" class="btn btn-default">Listed</a>
			</div>
		</div>
	</div>
</section>

<section class="text-center" id="nearby">
	<div class="container container-text bg-purple">
		<div class="row">
			<div class='col-sm-12'>
				<h2>Got something you want to avoid the bin?</h2>
				<a href="/list" class="btn btn-default">List It</a>
			</div>
		</div>
	</div>
</section>

<div id='social-buttons' class='text-center'>
	<button class="btn btn-lg btn-twitter">Twitter</button>
	<button class="btn btn-lg btn-facebook">Facebook</button>
	<button class="btn btn-lg btn-instagram">Instagram</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script tpye="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>
