<!DOCTYPE html>
<html>

	<head>
		<title>Avoid The Bin</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	</head>

	<body>
		<ul>
    	{% for item in nav.top %}
    		<li class="{{ 'active' if item.is_active else '' }}">
       			<a href="{{ item.url }}">{{ item.label }}</a>
    		</li>
    	{% endfor %}
		</ul>
		<div class="jumbotron text-center">
			<div class="col-sm-12 ">
				<h1>Find food near you.</h1>
			</div>
		</div>	
		<ul>
			{% if listed is defined and listed|length > 0 %}
        	 	{% for food in listed %}
            	<li>{{ food }} </li>
         		{% endfor %}
         	{% else %}
         		<p> Sorry there isn't anything available right now!</p>
         	{% endif %}

     	</ul>
	</body>
</html>
